<body>
  <h1 style="text-align: center">
    Hey <br />
    Akshay here!
  </h1>
  <br />
  <h3 style="text-align: center">Welcome to my Portfolio!</h3>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <img src="assets/logo.png" class="img-fluid" alt="Logo" />
      </div>
    </div>
  </div>

  <br />
  <h1 style="font-size: xx-large; text-align: center;">
    When Ambition meets Opportunity,
  </h1>
  <h1 style="text-align: center">Anything is Possible!</h1>
  <br />
  <div class="col-sm-10" style="margin: auto">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="wrapper">
          <img
            [src]="image.src"
            [style.width.%]="100"
            [style.height.px]="500"
            alt="first slide"
          />
        </div>

        <div class="carousel-caption">
          <h3>{{ image.title }}</h3>
          <h5>{{ image.subtitle }}</h5>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</body>
